<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"
>

	<div layout:fragment="contents">
	<div th:text="${list}"></div>
    <div class="ct_layout">
    	<table>
    		<tr>
    			<th>글번호</th>
    			<th>회원ID</th>
    			<th>제목</th>
    			<th>내용</th>
    			<th>생성일시</th>
    		</tr>
    		<tr th:each="item : ${list}">
    			<td th:text="${item.id}"></td>
    			<td th:text="${item.loginId}"></td>
    			<td><a th:href="'/boardDetail?id='+${item.id}" th:text="${item.title}"></a></td>
    			<td th:text="${item.content}"></td>
    			<td th:text="${item.createDate}"></td>
    		</tr>
    	</table>
    	<div>
<!-- 	    	<li th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" -->
<!-- 	    		th:each="pageButton : ${#numbers.sequence(start, end)}"> -->
<!-- 	    		<a class="page-link" th:href="@{/?page={page} (page = ${pageButton})}" th:text=${pageButton}></a> -->
<!-- 	    	</li> -->
    	</div>
    </div>
  </div>
  
</html>
